<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quản lí người dùng</title>
    <link rel="stylesheet" href="/bootstrap-5.3.3/dist/css/bootstrap.css">
    <script src="/bootstrap-5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="/css/admin.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>

<body>
    <div class="container mt-3">
        <div class="row">
            <div class="col-3">
                <ul class="nav nav-pills flex-column mb-auto">
                    <li class="nav-item">
                        <a th:href="@{/home}" class="nav-link active" aria-current="page">
                            Quay lại trang chủ
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link link-body-emphasis">
                            <img src="/photo/logo.png" alt="" class="img-fluid" style="width: 50px;">KROOS SPORT
                        </a>
                    </li>
                    <ul>
                        <li>
                            <a th:href="@{/admin}" class="nav-link link-body-emphasis">
                                <i class="fa-solid fa-boxes-stacked me-2"></i>
                                Quản Lí Sản Phẩm
                            </a>
                        </li>
                        <li>
                            <a th:href="@{/category/index}" class="nav-link link-body-emphasis">
                                <i class="fa-solid fa-tags me-2"></i>
                                Quản Lí Loại Sản Phẩm
                            </a>
                        </li>
                        <li>
                            <a th:href="@{/bill}" class="nav-link link-body-emphasis">
                                <i class="fa-solid fa-file-invoice-dollar me-2"></i>
                                Quản Lí Hóa Đơn
                            </a>
                        </li>
                        <li>
                            <a th:href="@{/userManage}" class="nav-link link-body-emphasis">
                                <i class="fa-solid fa-users me-2"></i>
                                Quản Lí Người Dùng
                            </a>
                        </li>
                        <li>
                            <a th:href="@{/statistics}" class="nav-link link-body-emphasis">
                                <i class="fa-solid fa-chart-pie me-2"></i>
                                Thống Kê
                            </a>
                        </li>
                    </ul>
                </ul>
            </div>
            <div class="col">
                <div>
                    <h2>Quản Lí Người Dùng</h2>
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home"
                                type="button" role="tab" aria-controls="home" aria-selected="true">CHỈNH SỬA</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile"
                                type="button" role="tab" aria-controls="profile" aria-selected="false">DANH
                                SÁCH</button>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                            <div class="container my-3">
                                <div class="card shadow">
                                    <div class="card-body">
                                        <form th:action="@{/userManage/create}" th:object="${account}" method="post"
                                            enctype="multipart/form-data">
                                            <div class="row row-cols-1 row-cols-md-2 g-3">
                                                <div class="col text-center">
                                                    <img th:src="${account.photo != null} ? @{/photo/{filename}(filename=${account.photo})} : @{/images/default-user.png}"
                                                        alt="User Photo" class="img-fluid rounded-circle shadow mb-3"
                                                        id="userPhoto"
                                                        style="max-width: 150px; height: 150px; object-fit: cover;">
                                                    <input type="file" class="form-control" id="imageUpload"
                                                        name="photoFile" accept="image/*">
                                                </div>
                                                <div class="col">
                                                    <div class="mb-3">
                                                        <label class="form-label">Username:</label>
                                                        <input type="text" class="form-control"
                                                            placeholder="Nhập tên người dùng" th:field="*{username}"
                                                            required>
                                                    </div>
                                                    <div class="mb-3">
                                                        <label class="form-label">Mật khẩu:</label>
                                                        <input type="password" class="form-control"
                                                            placeholder="Nhập mật khẩu mới (bỏ trống nếu không đổi)"
                                                            name="newPassword">
                                                    </div>
                                                    <div class="mb-3">
                                                        <label class="form-label">Họ và tên:</label>
                                                        <input type="text" class="form-control"
                                                            placeholder="Nhập họ và tên người dùng"
                                                            th:field="*{fullname}" required>
                                                    </div>
                                                    <div class="mb-3">
                                                        <label class="form-label">Email:</label>
                                                        <input type="email" class="form-control"
                                                            placeholder="Nhập email người dùng" th:field="*{email}"
                                                            required>
                                                    </div>
                                                    <div class="mb-3">
                                                        <label class="form-label">Trạng Thái:</label>
                                                        <div class="form-check form-check-inline">
                                                            <input class="form-check-input" type="radio"
                                                                th:field="*{activated}" value="true" id="activeYes">
                                                            <label class="form-check-label" for="activeYes">Hoạt
                                                                động</label>
                                                        </div>
                                                        <div class="form-check form-check-inline">
                                                            <input class="form-check-input" type="radio"
                                                                th:field="*{activated}" value="false" id="activeNo">
                                                            <label class="form-check-label" for="activeNo">Không hoạt
                                                                động</label>
                                                        </div>
                                                    </div>
                                                    <div class="d-flex gap-2 flex-wrap">
                                                        <button type="submit" class="btn btn-success"
                                                            th:formaction="@{/userManage/create}">
                                                            <i class="fa-solid fa-plus"></i> Thêm
                                                        </button>
                                                        <button type="submit" class="btn btn-primary"
                                                            th:formaction="@{/userManage/update}">
                                                            <i class="fa-solid fa-pen-to-square"></i> Cập nhật
                                                        </button>
                                                        <button type="reset" class="btn btn-warning">
                                                            <i class="fa-solid fa-rotate"></i> Làm Mới
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                        <script>
                                            document.addEventListener("DOMContentLoaded", function () {
                                                const imageInput = document.getElementById("imageUpload");
                                                const previewImage = document.getElementById("userPhoto");
                                                imageInput.addEventListener("change", function (event) {
                                                    const file = event.target.files[0];
                                                    if (file) {
                                                        if (!file.type.startsWith("image/")) {
                                                            alert("Vui lòng chọn một tập tin ảnh hợp lệ!");
                                                            imageInput.value = "";
                                                            return;
                                                        }
                                                        const reader = new FileReader();
                                                        reader.onload = function () {
                                                            previewImage.src = reader.result;
                                                        };
                                                        reader.readAsDataURL(file);
                                                    }
                                                });
                                            });
                                        </script>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    <table class="table table-bordered table-hover text-center align-middle shadow">
                        <thead class="table-primary" border="1">
                            <tr>
                                <th scope="col">Username</th>
                                <th scope="col">Mật khẩu</th>
                                <th scope="col">Họ và Tên</th>
                                <th scope="col">Email</th>
                                <th scope="col">Ảnh</th>
                                <th scope="col">Trạng Thái</th>
                                <th scope="col">Vai Trò</th>
                                <th scope="col" class="col-2">Hành Động</th>
                            </tr>
                        </thead>
                        <tbody class="table-light">
                            <th:block th:each="u : ${accounts}">
                                <tr>
                                    <td th:text="${u.username}"></td>
                                    <td>
                                        <span th:text="${u.password}"></span>
                                    </td>
                                    <td th:text="${u.fullname}"></td>
                                    <td th:text="${u.email}"></td>
                                    <td>
                                        <img th:src="@{/photo/{img}(img=${u.photo})}" alt="User Image" width="50"
                                            class="rounded-circle shadow">
                                    </td>
                                    <td>
                                        <span th:classappend="${u.activated} ? 'badge bg-success' : 'badge bg-danger'"
                                            th:text="${u.activated ? 'Hoạt động' : 'Không hoạt động'}">
                                        </span>
                                    </td>
                                    <td>
                                        <span th:classappend="${u.admin} ? 'badge bg-primary' : 'badge bg-secondary'"
                                            th:text="${u.admin ? 'Admin' : 'User'}">
                                        </span>
                                    </td>
                                    <td>
                                        <a th:href="@{|/userManage/edit/${u.username}|}" class="btn btn-info btn-sm">
                                            <i class="fa-solid fa-pen-to-square"></i> Sửa
                                        </a>
                                        <a th:href="@{|/userManage/delete/${u.username}|}" class="btn btn-danger btn-sm"
                                            onclick="return confirm('Bạn có chắc chắn muốn xóa?');">
                                            <i class="fa-solid fa-trash"></i> Xóa
                                        </a>
                                    </td>
                                </tr>
                            </th:block>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    </div>
</body>

</html>