<footer th:fragment="footer" class="py-5 bg-dark text-light mt-3">
    <div class="container">
        <div class="row">
            <div class="col-md-3 mb-4">
                <h5>Kroos Sport</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2">
                        <a href="#" class="nav-link p-0 text-secondary">Cơ sở 1: Hải Lăng, Quảng Trị</a>
                    </li>
                    <li class="nav-item mb-2">
                        <a href="#" class="nav-link p-0 text-secondary">Cơ sở 2: Cẩm Lệ, Đà Nẵng</a>
                    </li>
                    <li class="nav-item mb-2">
                        <a href="#" class="nav-link p-0 text-secondary">Cơ sở 3: Đông Hà, Quảng Trị</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3 mb-4">
                <h5>Chính sách</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2">
                        <a href="#" class="nav-link p-0 text-secondary">Chính sách giao nhận</a>
                    </li>
                    <li class="nav-item mb-2">
                        <a href="#" class="nav-link p-0 text-secondary">Chính sách đổi trả</a>
                    </li>
                    <li class="nav-item mb-2">
                        <a href="#" class="nav-link p-0 text-secondary">Chính sách thanh toán</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3 mb-4">
                <h5>Fanpage</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2">
                        <a href="#" class="nav-link p-0 text-secondary">
                            <i class="fa-brands fa-facebook me-2"></i>Facebook
                        </a>
                    </li>
                    <li class="nav-item mb-2">
                        <a href="#" class="nav-link p-0 text-secondary">
                            <i class="fa-brands fa-facebook-messenger me-2"></i>Messenger
                        </a>
                    </li>
                    <li class="nav-item mb-2">
                        <a href="#" class="nav-link p-0 text-secondary">
                            <i class="fa-brands fa-instagram me-2"></i>Instagram
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3 mb-4">
                <h5>Nhận ưu đãi</h5>
                <p>Đăng ký để nhận thông tin ưu đãi và tin tức mới nhất từ Kroos Sport.</p>
                <form>
                    <div class="d-flex">
                        <input type="email" class="form-control me-2" placeholder="Nhập email" required>
                        <button class="btn btn-primary" type="submit">Đăng ký</button>
                    </div>
                </form>
            </div>
        </div>
        <hr class="border-secondary">
        <div class="text-center">
            <p class="mb-0 text-secondary">&copy; 2025 Kroos Sport. All rights reserved.</p>
        </div>
    </div>
</footer>