<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đổi mật khẩu</title>
    <link rel="stylesheet" href="/bootstrap-5.3.3/dist/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <script src="/bootstrap-5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="/css/changePass.css">
</head>
<body>
    <div class="container">
        <header th:replace="~{layouts/header}"></header>
        <article>
            <div class="container1">
                <div class="heading">Đổi mật khẩu</div>
                <div id="messageBox">
                    <div th:if="${success}" class="alert alert-success" role="alert">
                        <span th:text="${success}"></span>
                    </div>
                    <div th:if="${error}" class="alert alert-danger" role="alert">
                        <span th:text="${error}"></span>
                    </div>
                </div>                
                <form action="/changePassword" method="post" class="form">
                    <input class="input" type="text" name="username" id="username" 
                           th:value="${username}" readonly>
                    <input class="input" type="password" name="currentPassword" id="currentPassword"
                           placeholder="Mật khẩu hiện tại">
                    <input class="input" type="password" name="newPassword" id="newPassword"
                           placeholder="Mật khẩu mới">            
                    <input class="input" type="password" name="confirmPassword" id="confirmPassword"
                           placeholder="Xác nhận mật khẩu mới">
                    <input class="login-button" type="submit" value="Đổi mật khẩu">
                </form>
                                                
            </div>
        </article>
        <footer th:replace="~{layouts/footer}"></footer>
        <script>
            window.onload = function () {
                let successMessage = document.getElementById('successMessage').textContent;
                let errorMessage = document.getElementById('errorMessage').textContent;
        
                if (successMessage.trim() !== "") {
                    alert(successMessage);
                } else if (errorMessage.trim() !== "") {
                    alert(errorMessage);
                }
            };
        </script>
        <script>
            setTimeout(() => {
                document.querySelector('.alert')?.remove();
            }, 3000);
        </script>                
    </div>
</body>
</html>