<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quên mật khẩu</title>
    <link rel="stylesheet" href="/bootstrap-5.3.3/dist/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <script src="/bootstrap-5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="/css/forgotPass.css">
</head>
<body>
    <div class="container">
        <header th:replace="~{layouts/header}"></header>
        <article>
            <div class="container1">
                <div class="heading">Quên mật khẩu</div>           
                <div th:if="${message}" id="alertMessage" class="alert" th:classappend="${messageType}">
                    <span th:text="${message}"></span>
                </div>
                <form action="/forgetPassword" method="post" class="form">
                    <input class="input" type="text" name="username" id="username" placeholder="Username" required>
                    <input class="input" type="email" name="email" id="email" placeholder="Email" required>
                    <input class="login-button" type="submit" value="Gửi mật khẩu mới">
                </form>                                             
            </div>
        </article>
        <footer th:replace="~{layouts/footer}"></footer>
    </div>
    <script>
        window.onload = function() {
            let alertBox = document.getElementById("alertMessage");
            if (alertBox) {
                setTimeout(function() {
                    alertBox.style.opacity = "0"; 
                    setTimeout(() => alertBox.style.display = "none", 500);
                }, 3000);
            }
        };
    </script>
</body>
</html>